{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_article_new' %}

{% block main %}
    <h1>{{ 'title.post_new'|trans }}</h1>

    {{ include('admin/article/_form.html.twig', {
        form: form,
        include_back_to_home_link: true,
    }, with_context: false) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
